@import "./Variables.css";

.space_admin {
  padding: 10px;
}

.container_admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 51px 20px;
}

.logo_home_admin {
  height: 130px;
}

.sign_exit_admin {
  content: url(../assets/deconnexion.webp);
  height: 35px;
}

.separation_of_elements_admin {
  display: flex;
  align-items: center;
}

.btn_modify_admin {
  height: 24px;
  content: url(../assets/update.webp);
  margin: 0 10px;
}

.admin_page {
  max-width: 87%;
  margin: 0 auto 10px;
  padding: 15px;
  box-shadow: 0 0 20px 3px black;
  border-radius: 15px;
}

.title_admin {
  text-align: center;
  font-size: 2em;
  color: rgb(32, 4, 4);
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(129, 1, 1);
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

td {
  text-align: center;
}

.admin_page .admin_c_search_btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.8rem 1rem 1rem;
}

.admin_c_search_btn input {
  width: 200px;
  height: 15px;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.admin_c_search_btn input::placeholder {
  text-align: center;
}

.admin_c_search_btn button {
  height: 25px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.8s;
  cursor: pointer;
}

.admin_c_search_btn button:hover {
  color: white;
  border-color: #7bd75a;
  background-color: black;
}
