@import "../css/Variables.css";

.container_card {
  text-align: center;
}

.search_card {
  width: 140px;
  border: 2px solid var(--color-white);
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: 15px;
  height: 1.5rem;
  text-align: center;
  font-size: 16px;
}
