@import "./Variables.css";

.connect {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenair_connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  margin-top: 10%;
  padding: 1rem;
  border: 3px solid var(--color-green);
  border-radius: 11px;
  text-align: center;
  background-color: var(--background-white);
}

.h2_connect {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1em;
  background-color: var(--color-deep-green);
  color: var(--color-white);
  padding: 0.2rem 0;
  border-radius: 15px;
  width: 55%;
  font-weight: 700;
}

.p_connect {
  margin: 0.2rem 0;
  font-size: 0.7em;
  font-weight: 500;
}

.span_connect {
  border: 1px solid var(--color-green);
  width: 85%;
  margin: 0.5rem 0;
}

.pw_sign_connect {
  display: flex;
  margin-top: 0.5rem;
  width: 75vw;
  align-items: center;
  justify-content: space-between;
}

.p_pw_connect {
  margin: 0;
  color: var(--color-white);
  font-size: 0.7em;
}

.p_sign_connect {
  font-size: 0.8em;
  background-color: var(--color-deep-green);
  border: 2px solid var(--color-white);
  color: var(--color-link);
  padding: 0.3rem 0;
  border-radius: 15px;
  width: 55%;
  font-weight: 600;
}
