@import "./Variables.css";

.error {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: var(--background);
  background-size: contain;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.h2_error {
  text-align: center;
  font-size: 3.5rem;
  color: var(--color-white);
  margin: 0;
  font-weight: bolder;
}

.p_error {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  font-weight: 550;
  color: var(--color-white);
}

.btn_error {
  padding: 0.5rem 0.8rem;
  font-size: 2.5rem;
  font-weight: 700;
  width: 55%;
  background-color: var(--background-grey);
  color: var(--color-white);
  border: 3px solid var(--color-green);
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
}

.img_error {
  height: 175px;
}
