@import "../css/Variables.css";

.map-wrap {
  width: 100%;
  height: 56%;
}

.map {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 35px;
  border: 3px solid var(--color-green);
  border-radius: 20px 20px;
  width: 98%;
  height: 65%;
}

.maplibregl-ctrl-top-right button {
  border: 1px solid var(--color-green);
}

.popup_map {
  display: inline-block;
  position: absolute;
  left: calc(100vw / 2 - 115px);
  bottom: calc(100vh / 2 - 98px);
  height: 92px;
  width: 230px;
  padding: 5px;
  background: var(--background-grey);
  border: 2px solid var(--color-green);
  border-radius: 15px;
}

.popup_map::before {
  content: url(../assets/hors-ligne.webp);
  display: block;
}

@media screen and (min-width: 768px) {
  .popup_map {
    bottom: calc(100vh / 2 - 46px);
  }
}

.marker_contenair {
  background-color: var(--background-white);
  padding: 5px;
}

.marker_contenair h3 {
  color: var(--color-deep-green);
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.marker_contenair p {
  font-size: 1em;
  margin: 1px 0;
  padding: 0;
}

.marker_contenair button {
  font-weight: bold;
  border-radius: 5px;
  transition: 0.8s;
  cursor: pointer;
}

.marker_contenair button:hover {
  color: white;
  border-color: #7bd75a;
  background-color: black;
}
