@import "./Variables.css";

.presentation_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  max-width: 87%;
  margin: 15px auto;
  padding: 15px;
  box-shadow: 0 0 20px 3px black;
  border-radius: 15px;
}

.p_presentation {
  margin: 2%;
  font-size: 1em;
}

.h2_presentation {
  margin: 10% 0 2%;
}

.tree_presentation {
  width: 40%;
}

.car_presentation {
  width: 60%;
  margin-top: 2%;
}

@media screen and (min-width: 650px) {
  .presentation {
    max-width: 60%;
    margin: 0 auto;
  }

  .tree_presentation {
    max-width: 20%;
  }

  .car_presentation {
    max-width: 20%;
  }
}
