@import "./Variables.css";

.container_profil {
  max-width: 87%;
  margin: 30px auto 10px;
  padding: 15px;
  border: 3px solid var(--color-green);
  border-radius: 11px;
  width: 75vw;
  background-color: var(--background-white);
}

.place_profil {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 40px;
}

.pseudo_profil {
  margin-top: 40px;
  font-weight: bold;
  font-size: 25px;
}

.logo_profil {
  height: 60px;
  margin-bottom: 20px;
  margin-top: 24px;
}

.info_users {
  font-weight: 600;
  border: 2px solid var(--color-white);
  background-color: var(--color-green);
  border-radius: 15px;
  padding: 0.4rem 1.3rem;
}

.btn_profil {
  color: white;
  background-color: #668468;
  border-radius: 15px;
  padding: 2.5px 5px;
  margin-right: 30px;
  margin-right: 10px;
  font-size: 13px;
}

.update_profil {
  margin-top: 20px;
}

.empty_user {
  font-size: 0.9em;
  color: #555655;
}
