@import "./Variables.css";

.register {
  height: 53vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenair_register {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  margin-top: 10%;
  padding: 1rem;
  border: 3px solid var(--color-green);
  border-radius: 11px;
  text-align: center;
  background-color: var(--background-white);
}

.form_register {
  width: 80%;
}

.h2_register {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2em;
  background-color: var(--color-deep-green);
  color: var(--color-white);
  padding: 0.2rem 0;
  border-radius: 15px;
  width: 50%;
  font-weight: 700;
}

.label_register {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input_register {
  border: 2px solid var(--color-white);
  background-color: var(--color-green);
  border-radius: 15px;
  padding: 0.4rem 0.7rem;
  margin-bottom: 0.5rem;
  color: var(--color-white);
}

.checkbox_register {
  display: flex;
  align-items: center;
  background-color: var(--color-deep-green);
  margin: 1.1rem 0 0.3rem;
  border-radius: 15px;
  padding: 0 2px;
}

.link-cg-register {
  font-size: 0.7em;
  font-weight: 600;
  text-decoration: underline;
  color: var(--color-link);
}

.btn_register {
  font-size: 0.8em;
  font-weight: 600;
  border: 2px solid var(--color-white);
  background-color: var(--color-green);
  border-radius: 15px;
  padding: 0.4rem 1.3rem;
  color: var(--color-white);
  cursor: pointer;
}
